# object files/ etc
Debug/
*.d
*.o
*.su
*.bin
*.elf
*.map
*.bak
*.o
*.su
*.su
Debug/Common/Src/COM.o
Debug/Common/Src/ELM.o
Debug/Common/Src/METEO.o
Debug/Common/Src/OW.o
Debug/Common/Src/OW.su
Debug/Common/Src/TEMP.o
Debug/Common/Src/TEMP.su
Debug/Common/Src/VARS.o
Debug/Core/Src/APP.o
Debug/Core/Src/scheduler.o
Debug/Core/Src/stm32f4xx_it.o
Debug/RECU_NUCLEO.elf
Debug/RECU_NUCLEO.list
Debug/RECU_NUCLEO.map
